<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 
    </head>

    <body>
        <div class="d-flex align-items-center justify-content-center flex-column" style="height: 100vh">
            <p class="fw-bold mb-0" style="font-size: 50px;">404</p>
            <p>Page not found, <a href="/">go back home</a>.</p>
        </div>
    </body>
</html>