<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 
    </head>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="top-1 d-flex align-items-center justify-content-center flex-column" style="height: 50vh;">
            <p class="fw-bold h2">Welcome to VSRP</p>
            <p class="fw-light h6 mb-4">You aren't logged in! <a class="text-white" href="/register">Register here</a></p>
            
            <a class="btn btn-primary" href="https://asciidude0-p8l7la.users.cfx.re" target="_blank">Join us! 🚀</a>
        </div>
    </body>
</html>